:root {
    color: white;
    --bg-color:rgb(0, 0, 0);
    --font-S:3rem;
}

.isBrute {
    color: black;
    background-color: rgb(144, 238, 125);
    border: 3px solid green;
    transition: background-color 0.5s;
    transition: border 0.5s;

}
@media screen and (max-width: 1500px) {
    .text {
        font-size: 2.5em;
        padding: 1.15rem;
        float: right;
    
    }
    .parent {
        margin: 1rem;
        padding: 1rem 1rem;
        text-align: center;
    }
    .child {
        display: inline-block;
    
        padding: 1rem 1rem;
        vertical-align: middle;
    }
    .centerHolder{
        padding-left:7rem;
        padding-right:7rem;
    }
    
}
@media screen and (min-width: 1501px) {
    .text {
        font-size: var(--font-S);
        padding: 2.25rem;
        float: right;
    
    }
    .parent {
        margin: 1rem;
        padding: 2rem 2rem;
        text-align: center;
    }
    .child {
        display: inline-block;
    
        padding: 0.5rem 0.5rem;
        vertical-align: middle;
    }
    .centerHolder{
        padding-left:10rem;
        padding-right:10rem;
    }
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    position: sticky;
    background-color: white;

}

input {
    border-radius: 1.12rem;
    background-color: rgb(188, 188, 188);
    font-size: calc(var(font-S)/2);
    text-align: center;
    vertical-align: center;

}

.inputContainer {
    height: 15%;
    width: 25%;
}

img {

    float: left;
}

.noU {
    font-size: calc(var(--font-S)/1.866);
    color: rgb(155, 151, 151);
    text-decoration: none;
}

.noU:hover {
    text-decoration: underline;
    font-size: var(--font-S);
}

table {
    border: 1px solid white;
}

td,
tfoot,
tr,
th {
    border: 1px solid white;
    padding: 0.6rem 0.75rem;
}

h2 {
    color: white;
    margin-top: 0.22rem;
    font-size: var(--font-S);
}

.option {
    color: white;
    font-size: calc(var(--font-S)/1.2);
}

p {
    color: white;
}

.isBrute:hover {
    color: black;
    border: 0.22rem solid red;
    background-color: rgb(144, 238, 125);
}

.notBrute {
    color: black;
    background-color: rgb(255, 146, 127);
    border: 3px solid red;
    transition: background-color 0.5s;
    transition: border 0.5s;


}

.notBrute:hover {
    color: black;
    border: 0.22rem solid green;
    background-color: rgb(255, 146, 127);
}

.center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
}

body {
    background-color: black;
}






button {
    border: 2px solid;
    border-radius: 2.25rem;
    background-color: rgb(165, 165, 165);
    color: black;
    transition: background-color 0.5s;
    transition: color 0.5s;
    font-size: calc(var(--font-S)/2);
    padding: 0.75rem;

}

.path {
    color: white;
    font-size: calc(var(--font-S)/2.25)
}

button:hover {
    background-color: rgb(73, 73, 73);
    color: rgb(201, 200, 199)
}

footer {
    color: white;
    font-size: calc(var(--font-S)/1.6);
}